@font-face{
    font-family:kalame ;
    src: url(../fonts/kalameh/Kalameh_Bold.ttf);
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
    font-family: kalame;
    background-color: #fbf8f0;
}
.navbar{
    width: 100%;
    display: flex;
}
.right-nav{
    width: 10%;
}
.right-menu{
    width: 10%;
    height: 10px;
}
.namdar{
    font-size: large;
    font-weight: bold;
    position: relative;
    bottom: 21px;
}
.middle-menu{
    width: 30%;
}
.middle-menu ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.middle-nav{
    width: 15%;
}
.left-menu{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.middle-nav-left{
    width: 10%;
}
.moshavere-btn{
    display: block;
    background-color: #FCB816;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    width: 123px;
    height: 34px;
    text-align: center;
    line-height: 34px;
    text-decoration: none;
    color: white;
}
.Line-1 {
    width: 1131px;
    height: 1px;
    margin: 6px 157px 0 0;
    background-color: #dddbe1;
  }
  .box1{
    width: 179px;
    height: 106px;
    border-radius: 12px;
    background-color: #0d0901;
    position: relative;
    right: 548px;
    top: 5px;
    margin: 19px;
    color: white;
    text-align: center;
  }
  .triangle-down {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 20px solid  #0d0901;
    position: absolute;
    right: 638px;
    top: 186px;
}
.top-text-up{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.toptext5{
    position: relative;
    top: 7px;
}
.toptext{
    font-size: 56px;
}
.top-text-down{
    display: flex;
    justify-content: center;
    align-items: center;
}
.box2{
    width: 231px;
    height: 106px;
    border-radius: 12px;
    background-color: #0d0901;
    position: relative;
    right: 868px;
    bottom: 23px;
    color: white;
    text-align: center;
  }
  .triangle-up {
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-bottom: 20px solid  #0d0901;
    position:relative;
    right: 895px;
    bottom: 22px;
}
.toptextimage{
    position: absolute;
    left: 500px;
}
.video-namdar{
    text-align: center;
}
.video-namdar img{
    width: 1199px;
    height: 648px;
}
.main{
    display: flex;
    width: 100%;
}
.right-aside{
    width: 15%;
}
.main-aside{
    width: 65%;
}
.leftaside{
    width: 20%;
}
.top-middle1{
    color:#fcb816;
    margin-top: 50px;
    margin-bottom: 10px;
}
.middle1{
    display: flex;
}
.middle1-right{
    font-weight: 900;
    font-size: 21px;
}
.middle1-left{
    margin-right: 45px
}
.down-middle1{
    margin-top: 20px;
    display: inline-block;
    border-bottom: 1px solid #dddbe1;
}
.middle2{
    height: 300px;
}
.middle3{
    display: flex;
}
.middle5{
    height: 107px;
}
.middle3-right{
    position: relative;
    bottom: 165px;
}
.middle3-left{
margin-right: 38px;
}
.middle3-left1{
    font-size: 100px;}
.middle3-left2{
    height: 42px;
    border-right: 1px solid #212121;
}    
.middle3-left3{
    color: #fcb816;
    font-size: 16px;
    margin-top: 20px;
}
.middle3-left4{
    font-size: 24px;
    line-height: 38px;
}
.middle3-left5{
    font-size: 14px;
    line-height: 24px;
}
.middle3-left6{
        width: 149px;
        height: 42px;
        border-radius: 50px;
        background-color: #fcb816;
        line-height: 42px;
        text-align: center;
        margin-top: 20px;
}
.middle4{
    display: flex;
}
.middle4-right{
margin-right: 38px;
position: relative;
top: 105px
}
.middle4-right1{
    font-size: 100px;}
.middle4-right2{
    height: 42px;
    border-right: 1px solid #212121;
}    
.middle4-right3{
    color: #fcb816;
    font-size: 16px;
    margin-top: 20px;
}
.middle4-right4{
    font-size: 24px;
    line-height: 38px;
}
.middle4-right5{
    font-size: 14px;
    line-height: 24px;
}
.middle4-right6{
        width: 149px;
        height: 42px;
        border-radius: 50px;
        background-color: #fcb816;
        line-height: 42px;
        text-align: center;
        margin-top: 20px;
}
.middle4-left{
        width: 526px;
        height: 330px;
}
.middle6{
    height: 118px;
}
.line3 {
    width: 992px;
    height: 1px;
    background-color: #dddbe1;
  }
  .middle7{
    text-align: center;
  }
  .middle8{
    height: 158px;
  }
  .middle9{
    display: flex;
  }
  .middle9-right{
    height: 344px;
    width: 370px;
    margin-left: 35px;
  }
  .middle9-right1{
    color: #fcb816;
    line-height: 38px;
    }
  .middle9-right2{
        font-size: 24px;
        line-height: 38px;
    }
    .middle9-right3{
    font-size: 14px;
    line-height: 24px;
    }
    .middle9-right4-right{
        color: #fcb816;
        font-size: 40px;
    }
    .middle9-right4-left{
        color: #fcb816;  
        font-size: 40px; 
     }
     .middle9-center{
        height: 344px;
        width: 287px;
        background-color:#fffdf8;
        margin-left: 16px;
        
     }
     .middle9-center1{
        margin-right: 25px;
        margin-top: 32px;
     }
     .middle9-center2{
        font-size: 16px;
        line-height: 38px;
        margin-right: 25px;
     }
     .middle9-center3{
        font-size: 14px;
        line-height: 24px;
        margin-right: 25px;
        margin-left: 27px;
     }
     .middle9-center4{
        font-size: 13px;
        line-height: 24px;
        margin-right: 25px;
     }
     .middle9-left{
        height: 344px;
        width: 287px;
        background-color:#fffdf8;
        
     }
     .middle9-left1{
        margin-right: 25px;
        margin-top: 32px;
     }
     .middle9-left2{
        font-size: 16px;
        line-height: 38px;
        margin-right: 25px;
     }
     .middle9-left3{
        font-size: 14px;
        line-height: 24px;
        margin-right: 25px;
        margin-left: 27px;
     }
     .middle9-left4{
        font-size: 13px;
        line-height: 24px;
        margin-right: 25px;
     }
     .middle10{
        height: 135px;
     }
     .middle11{
        font-size: 16px;
        color: #fcb816;
        text-align: center;
     }
     .middle12{
        font-size: 24px;
        line-height: 38px;
        text-align: center;
     }
     .middle13{
        height: 51px;
     }
     .middle14{
        display: flex;
     }
     .middle14-right{
        width: 335px;
        height: 415px;
        background-color: #fffdf8;
        margin-left: 15px;
     }
     .middle14-right2{
        color: #fcb816;
        font-size: 12px;
        margin-top: 24px;
     }
     .middle14-right3{
        font-size: 20px;
     }
     .middle14-right4{
        font-size: 14px;
        line-height: 24px;
     }
     .middle14-center{
        width: 335px;
        height: 415px;
        background-color: #fffdf8;
        margin-left: 15px;
     }
     .middle14-center2{
        color: #fcb816;
        font-size: 12px;
        margin-top: 24px;
     }
     .middle14-center3{
        font-size: 20px;
     }
     .middle14-center4{
        font-size: 14px;
        line-height: 24px;
     }
     .middle14-left{
        width: 335px;
        height: 415px;
        background-color: #fffdf8;
     }
     .middle14-left2{
        color: #fcb816;
        font-size: 12px;
        margin-top: 24px;
     }
     .middle14-left3{
        font-size: 20px;
     }
     .middle14-left4{
        font-size: 14px;
        line-height: 24px;
     }
     .middle15{
        height: 53px;
     }
     .middle16{
        text-align: center;
        font-size: 16px;
        line-height: 38px;
        
     }
      .middle17{
        width: 118px;
        height: 1px;
        background-color: #dddbe1;
        text-align: center;
      }
      .middle18{
        height: 114px;
      }        
      .middle19{
        text-align: center;
      }
      .middle20{
        height: 28px;
      }
      .middle21{
        font-size: 16px;
        color: #fcb816;
        text-align: center;
      }
      .middle22{
        font-size: 24px;
        line-height: 38px;
        text-align: center;
      }
      .middle23{
        width: 879px;
        height: 101px;
        font-size: 14px;
        line-height: 24px;
        text-align: center;
      }
      .middle24{
        height: 43px;
        display: flex;
        margin-right: 100px;
        margin-top: 43px;
      }
      .middle24-right1{
        font-size: 32px;
        padding-left: 63px;
      }
      .middle24-right2{ 
            width: 1px;
            height: 71px;
            background-color: #dddbe1;
      }
      .middle24-center1{
        text-align: center;
        font-size: 32px;
        padding-left: 63px;
        padding-right: 85px;
      }
      .middle24-center2{ 
        width: 1px;
        height: 71px;
        background-color: #dddbe1;
  }
      .middle24-left{
       font-size: 32px;
       padding-right: 85px;
  }
  .middle25{
    height: 81px;
  }
  .middle26{
    display: flex;
    align-items: center;
    justify-content: center;

  }
  .middle26-right{
        width: 149px;
        height: 44px;
        text-align: center;
        margin-left: 18px;
        line-height: 44px;
        border-radius: 50px;
        background-color: #fcb816;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
  }
  .middle26-left{
        width: 224px;
        height: 44px;
        border-radius: 50px;
        box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.1);
        border: solid 1px #0d0901;
        text-align: center;
        line-height: 44px;
  }
  .middle27{
    height:166px ;
  }
  .middle28{
    display: flex
  }
  .middle28-right{
    width:346px ;
    height:326px ;
  }
  .middle28-right1{
    font-size: 16px;
    color: #fcb816;
    line-height: 38px;
  }
  .middle28-right2{
    font-size: 24px;
    line-height: 38px;

  }
  .middle28-right3{
    font-size: 14px;

  }
  .middle28-right4-right{
    color: #fcb816;
    font-size: 25px;
}
.middle28-right4-left{
    color: #fcb816;  
    font-size: 25px; 
 }
 .middle28-left{
    display: flex;
    background-color: #fffdf8;
    margin-right: 34px;
    width: 720px;
    height: 326px;
 }
 .middle28-left-right{
    margin-top: 54px;
    margin-right: 36px;
 }
 .middle28-left-left{
    margin-right: 29px;
    margin-top: 41px;
 }
 .middle28-left-left1{
    color: #fcb816;
    font-size: 12px;
 }
 .middle28-left-left2{
    font-size: 20px;
    margin-top: 20px;
 }



      

